<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>AngularJs Project Template</title>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide{
            display: none!important;
        }
    </style>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/html5-boilerplate/dist/css/normalize.css" rel="stylesheet"/>
    <link href="bower_components/html5-boilerplate/dist/css/main.css" rel="stylesheet"/>
    <link href="bower_components/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="bower_components/toastr/toastr.min.css" rel="stylesheet" />
    <link href="content/style.css" rel="stylesheet"/> 
    
</head>

<body>

    <!-- <div>
        <div ng-include="'layout/shell.html'"></div>
    </div> -->

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-            expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Nile</a>
            </div>

        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container" ng-view>
        <div class="well">
            <h1>Hello World AngularJS application</h1>
            <section ng-controller="HelloController as vm">
                <h4>AngularJS Greeting</h4>
                <label for="name">Type your name here:</label>
                <input id=name type="text" ng-model="vm.myModel">
                <p>Hello {{vm.myModel}}!</p>
            </section>
        </div>

        <div class="well">
            <h1>Test Toastr</h1>
            <section ng-controller="ToastrController as vm">
                <label for="message">Type your Toastr message here:</label>
                <input id=message type="text" ng-model="vm.message">
                <button ng-click="vm.info()" class="btn btn-info">Info</button>    
                <button ng-click="vm.success()" class="btn btn-primary">Success</button>
                <button ng-click="vm.error()" class="btn btn-danger">Error</button>
            
            </section>
        </div>

        <div class="well">
            <h1>Test Spinner</h1>
            <section ng-controller="TestSpinnerController as vm">
                <label for="duration">Length of spinner in MS:</label>
                <input id=duration type="text" ng-model="vm.duration">
                <button ng-click="vm.startSpinner()" class="btn btn-primary">Start Spinner</button>
            </section>
        </div>

    </div>


</body>

<!-- vendor -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/toastr/toastr.min.js"></script>

<!-- Bootstrappinp -->
    <script src="app.module.js"></script>
    <!-- <script src="config.route.js"></script> -->

<!-- Reusable Blocks/Modules -->
    <script src="blocks/logger/logger.module.js"></script>
    <script src="blocks/logger/logger.js"></script>
    <script src="blocks/exception/exception.module.js"></script>
    <script src="blocks/exception/exception.js"></script>
    <script src="blocks/exception/exception-handler.provider.js"></script>

<!-- core module -->
    <script src="core/core.module.js"></script>
    <script src="core/constants.js"></script>
    <script src="core/config.js"></script>

<!-- layout -->
    <!-- <script src="layout/layout.module.js"></script> -->

<!-- widgets -->

<!-- features -->



</html>